{%extends 'base.html' %}

{% block title %}
Welcome List
{% endblock %}

{%block body%}
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>


        <div class="text-end">
          <a class="btn btn-outline-light me-2" href="/" >Home</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container mt-5">
    {% for el in pages.items %}
      <div class="alert alert-info">
          <h3>{{el.first_name}} {{el.last_name}}</h3>
      </div>
    {% endfor %}
  </div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li
            {% if pages.hes_prev%}
            class="page-link"
            {%endif%}
    >
      <a class="page-link" href ="./list?page={{pages.prev_num}}">Previous<span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li
            {% if pages.hes_next%}
            class="page-link"
            {%endif%}
    >
      <a class="page-link" href="./list?page={{pages.next_num}}">Next<span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}